<div class="image-viewer">
    <div class="vc-container" style="z-index: 1;">
        <div class="image-container">
            <img src="images/weather.png" style="width: 100%; height: 100%;">
        </div>
    </div>
    <div style="position: absolute; height: 22px; top: 12px; left: 10px; display: inline-block; z-index: 2;">
        <div class="trims-btn-group" style="width: 110px; height: 100%; float: left;">
            <button class="trims-btn-sub" style="width: 55px;">
                <img src="images/icon/zoom_in.png" style="width: 13px; height: 13px;" alt="">
            </button>
            <button class="trims-btn-sub" style="width: 55px;">
                <img src="images/icon/zoom_out.png" style="width: 13px; height: 13px;" alt="">
            </button>
        </div>
        <button class="trims-btn" style="width: 60px; height: 100%; margin-left: 10px; float: left;">100%</button>
    </div>
</div>