<div class="welcom-init">

    <div class="body">
        <div class="title">
            <p>建立你的第一个项目</p>
            <p>建立要托管在 Trims 的项目资源库。之后，您的团队成员便可以通过 Trims 协同编辑并保持同步。开发者可以直接在 Trims 中打开方案文件并导出图片素材和资源。</p>
        </div>
        <div class="content">
            <div>
                <img src="images/welcom/icon_crane.svg">
                <p>创建空项目</p>
                <p>创建一个空的项目，您可以稍后把文件加入该项目。</p>
            </div>
            <div>
                <img src="images/welcom/icon_box.svg">
                <p>从现有文件创建项目</p>
                <p>选择现有文件和文件夹建立项目资源库。</p>
            </div>
        </div>
    </div>


    <div class="footer">
        <button ng-click="goHelp()" class="trims-btn help">?</button>
        <button ng-click="logout()" class="trims-btn register">注销</button>
    </div>

</div>
